<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Blogs</title>
</head>
<body>
   <h1><%= blog.title %> </h1>
   <h2><%= blog.description %> </h2>

   <footer>
       <div>
           <a href="/blogs/<%= blog._id %>/edit">Edit Blog</a>
       </div>
       <p>
        <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        </p>
       <a href="/blogs">All Blogs</a>
   </footer>
</body>
</html>