<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWays</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex text-center text-light bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">MyWays</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right" >
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/blogs">Blogs</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3 py-3">
            <h1>MyWays</h1>
            <p class="lead"> Welcome to MyWays! <br> Jump right in and explore our career Options through a highly efficient Psychometric Test. <br>
            Get your personalized FREE Career Navigation tool to identify your skill-gaps.</p>
            <a href="/blogs" class="btn btn-lg btn-secondary font-weight-bold border-dark bg-white">View
                Blogs</a>
        </main>

        <section>
            <div class="row">
                <div class="col-md-6 d-flex flex-row-reverse" >
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8YmxvZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-dark">Read a Blog</h5>
                          <a href="/blogs">Click to Continue</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8YmxvZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-dark">Write a Blog</h5>
                          <a href="/blogs/new" >Click to Continue</a>
                        </div>
                      </div>
                </div>
            </div>
        </section>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2020 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>